nav {

  // .nav-link.btn{

  // }
  width: 100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  .container-fluid{
    .logout{
      color: var(--btn-color-danger);
      // border: 1px solid var(--btn-color-danger);
      // border: 1px solid var(--btn-color);
      color: var(--btn-color);
      // padding: .3rem;
      border-radius: 10px;
      font-size: 1.5rem;
      &:hover{
        // color: white!important;
        // background-color: var(--btn-color-danger);
        transform: scale(1.1);
      }
    }
  }

  .profile{

      border: 1px solid var(--btn-color);
      color: var(--btn-color);
      padding: .5rem;
      border-radius: 10px;


    &:hover {
      background-color: var(--btn-color);
      color: white;
    }

  }
  .ico{
    // padding: 0 !important;
    border-radius:50% ;
    img{
    display: block;
    width: 2rem;
    border-radius: 50%;
    margin: 0;
  }
}
}
