<div class="body">
<div ngClass="Header">
  <div class="title">
      <h3>The creative crew</h3>
  </div>
  <div class="content">
      <h5>who we are</h5>
      <p>We are team of creatively diverse. driven. innovative individuals working in various locations from the world.</p>
  </div>
</div>

<main>

  <div class="profile">
      <figure data-value="Front-End Developer">
          <img src="../../assets/team/myphoto-removebg-preview (2).png" alt="">
          <figcaption>Mohamed Ashraf</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="Back-End Developer">
          <img src="../../assets/team/kyro.jpg" alt="">
          <figcaption>Kyrillos Gaber</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="Back-End Developer">
          <img src="../../assets/team/shady.jpg" alt="">
          <figcaption>Shady Dawoud</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="Back-End Developer">
          <img src="../../assets/team/gerges.jpg" alt="">
          <figcaption>Gerges Hana</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="Front-End Developer">
          <img src="../../assets/team/ataAlla Ibrahim.jpeg" alt="">
          <figcaption>ataAlla Ibrahim</figcaption>
      </figure>
  </div>


</main>


</div>
