<app-header ></app-header>

<h1 class="mb-5">Accepts Orders</h1>

<div class="card">

  <div class="row" *ngFor="let api of dataApi ; let i = index">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Accepts</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{api.id}}items</div>
        </div>
      </div>


      <div class="row border-top border-bottom">
        <div class="row  align-items-center">
          <div class="col-2"><img class="img-fluid" src="{{api.image}}"></div>
          <div class="col">
            <div class="row text-muted">{{api.title}}</div>
            <div class="row">Cotton T-shirt</div>
          </div>
          <div class="col">
            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
          </div>
          <div class="col">&euro; {{api.price}} <span class="close">&#10005;</span>


          </div>
          <div class="col links">

            <a class=" btn " (click)="goTo('on-delivering',i)">Start </a>
          </div>
        </div>
      </div>
      <div class="back-to-shop btn" (click)="backTo('orders')"><a>&leftarrow;</a><span class="text-muted">Back to
          Orders</span></div>
    </div>

  </div>

</div>
