<!-- <app-header ></app-header> -->

<div class="box mt-5" *ngIf="onDelivarig.data!=null">
  <h1 class="mb-5"> {{onDelivarig.message}} On Delivering</h1>

<div class="row">
<div class="col-md-12  col-sm-12 box">
<div class="card">
  <iframe class="card-img-top" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54695.308269731664!2d31.41785916139067!3d31.04138142169491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f79db7a9053547%3A0xf8dab3bbed766c97!2z2KfZhNmF2YbYtdmI2LHYqdiMINin2YTZhdmG2LXZiNix2KkgKNmC2LPZhSAyKdiMINin2YTZhdmG2LXZiNix2KnYjCDYp9mE2K_ZgtmH2YTZitip2Iwg2YXYtdix!5e0!3m2!1sar!2sus!4v1677456518528!5m2!1sar!2sus"  height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="card-body">
    <p class="card-text">clientName: {{onDelivarig?.data.clientName}}</p>
    <p class="card-text">clientPhone: <a class="btn tel" href="{{'tel:'+onDelivarig?.data.clientPhone}}" >{{onDelivarig?.data.clientPhone}}</a></p>
    <p class="card-title ">City : {{onDelivarig?.data.city}}</p>
    <p class="card-title ">street : {{onDelivarig?.data.street}}</p>
    <p class="card-text">buildingNumber : {{onDelivarig?.data.buildingNumber}}</p>    <p class="card-text">apartmentNumber : {{onDelivarig?.data.apartmentNumber}}</p>
    <p class="card-text">floorNumber : {{onDelivarig?.data.floorNumber}}</p>
    <p class="card-text">DelivaryFees: {{onDelivarig?.data.delivaryFees}}</p>
    <p class="card-text">totalPrice: {{onDelivarig?.data.totalPrice}}</p> 
       <p class="card-text">isPaid: {{onDelivarig?.data.isPaid==1?'yes':'no'}}</p>
    <p class="card-text">orderDate: {{onDelivarig?.data.orderDate}}</p>

  
    <a  (click)="goTo('delivered')" class="btn btn-primary m-2">delivered</a>
    <a (click)="goTo('returned')" class="btn btn-danger m-2">returned</a>
  </div>
  <div class="back-to-shop btn" (click)="goTo('orders')"><a>&leftarrow;</a><span class="text-muted">Back to
    Orders</span></div>
</div>
</div>
</div>
</div>

<div class="box mt-5" *ngIf="onDelivarig.data==null">
  <a class="mb-5 btn" (click)="goTo('orders')">You did not choose any order go back and choose the nearest order </a>

</div>
