
<!--
<i class="fas fa-heart"></i>
<i class="fas fa-car"></i>
<i class="fas fa-street-view"></i>
<i class="fas fa-user-plus"></i>
<i class="fas fa-user-alt-slash"></i>
<i class="fas fa-thumbs-up"></i>
<i class="fas fa-thumbs-down"></i>
<i class="fas fa-map-marker-alt"></i>
<i class="fas fa-wallet"></i>
<i class="fas fa-redo"></i>
<i class="fas fa-unlock"></i>
<i class="fas fa-sign-out-alt"></i>
<i class="fas fa-sign-in"></i> -->
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light  text-success" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center" >


<!--

 <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <p>{{errorUserName}}</p>
  <br>
  <label>
    password:
    <input type="password" formControlName="password">
  </label>
  <p>{{errorPass}}</p>
  <br>
  <button type="submit" class="btn" ><i class="fas fa-unlock "></i>
  </button>
</form> -->

<form class="form-signin" [formGroup]='loginForm' (submit)="login()">
  <h1 class="h3 mb-3 fw-normal">Login</h1>

  <div class="form-floating">
    <input class="form-control" id="floatingInput" formControlName="username">
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" formControlName="password">
    <label for="floatingPassword">Password</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" [ngStyle]="{'opacity':loginForm.valid?' 1':'.3'}" type="submit">Login</button>
  <br><br>
  <p *ngIf="message" class="alert alert-danger alert-dismissible fade show">{{message}}</p>
</form>

            <!-- <form class="mb-md-5 mt-md-4 pb-5"[formGroup]="loginForm" (ngSubmit)="onSubmit()" >

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-success-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-success mb-4">
                <input type="text" id="userName" class="form-control" formControlName="userName" placeholder="Enter UserName">
                <span class="text-danger" *ngIf="(loginData['userName'].touched || submitted) && loginData['userName'].errors?.['required']">
                   UserName is required
                </span>
                <span class="text-danger" *ngIf="loginData['userName'].touched && loginData['userName'].errors?.['email']">
                   Enter a valid user name address
                </span>
              </div>
              <div class="form-outline form-success mb-4">
                <input type="password" id="passWord" class="form-control" formControlName="passWord" placeholder="Enter Password">
                <span class="text-danger" *ngIf="(loginData['passWord'].touched || submitted) && loginData['passWord'].errors?.['required']">
                  Password is required
                </span>
                <span class="text-danger" *ngIf="(submitted && loginData['passWord'].hasError('required')) || loginData['passWord'].touched && loginData['passWord'].errors?.['invalidPassword']">
                  Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                  letter and 1 number
                </span>
              </div>
              <button class="btn  btn-md px-5 form-control btn-success" type="submit">Login</button>
            </form> -->

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


