
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class=" pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Log In </span><span>About Us</span></h6>
          <p *ngIf="message" class="alert alert-danger alert-dismissible fade show">{{message}}</p>

                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                <label for="reg-log" class="togile-login-about"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <form class=" text-center"  [formGroup]='loginForm' (submit)="login()">
                    <h4 class="mb-4 pb-3">Log In</h4>
                    <div class="form-group">
                      <input type="email" formControlName="username" class="form-style" placeholder="Your Username" id="logemail" autocomplete="off">
                      <i class="input-icon uil uil-at"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="password" class="form-control" id="floatingPassword"  formControlName="password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>
                    <button href="#" type="submit" class="btn mt-4" [ngStyle]="{'opacity':loginForm.valid?' 1':'.3'}" type="submit">login</button>
                                  <!-- <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p> -->

                    </form>
                    </div>
                  </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">We are a company that provides a service to companies that need to deliver products through delivery in a distinctive technical way                                                                                                                </h4>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
