<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light  text-success" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center" >

            <form class="mb-md-5 mt-md-4 pb-5"[formGroup]="loginForm" (ngSubmit)="onSubmit()" >

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-success-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-success mb-4">
                <input type="text" id="userName" class="form-control" formControlName="userName" placeholder="Enter UserName">
                <span class="text-danger" *ngIf="(loginData['userName'].touched || submitted) && loginData['userName'].errors?.['required']">
                   UserName is required
                </span>
                <span class="text-danger" *ngIf="loginData['userName'].touched && loginData['userName'].errors?.['email']">
                   Enter a valid user name address
                </span>
              </div>
              <div class="form-outline form-success mb-4">
                <input type="password" id="passWord" class="form-control" formControlName="passWord" placeholder="Enter Password">
                <span class="text-danger" *ngIf="(loginData['passWord'].touched || submitted) && loginData['passWord'].errors?.['required']">
                  Password is required
                </span>
                <span class="text-danger" *ngIf="(submitted && loginData['passWord'].hasError('required')) || loginData['passWord'].touched && loginData['passWord'].errors?.['invalidPassword']">
                  Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                  letter and 1 number
                </span>
              </div>
              <button class="btn  btn-lg px-5 form-control" type="submit">LoginLogin</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
