<!-- <app-header ></app-header> -->

<h1 class="mb-5">Rejects Orders</h1>

<div class="card">
  <div class="row">
      <div class="col-md-8 cart">
          <div class="title">
              <div class="row">
                  <div class="col"><h4><b>Rejects</b></h4></div>
                  <div class="col align-self-center text-right text-muted">3 items</div>
              </div>
          </div>
          <div class="row border-top border-bottom">
              <div class="row main align-items-center">
                  <div class="col"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                  <div class="col">
                      <div class="row text-muted">Shirt</div>
                      <div class="row">Cotton T-shirt</div>
                  </div>

                  <div class="col">&euro; 44  <span class=" h2 text-danger" > x</span></div>
              </div>
              
          </div>


  </div>

</div>
