// body{
//   background: #ddd;
//   min-height: 100vh;
//   vertical-align: middle;
//   display: flex;
//   font-family: sans-serif;
//   font-size: 0.8rem;
//   font-weight: bold;
// }
.title{
  margin-bottom: 5vh;
}
.card{
  // margin: auto;
  // max-width: 950px;
  width: 100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media(max-width:767px){
  .cart{
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
  }
}
.summary{
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
@media(max-width:767px){
  .summary{
  border-top-right-radius: unset;
  border-bottom-left-radius: 1rem;
  }
}
.summary .col-2{
  padding: 0;
}
.summary .col-10
{
  padding: 0;
}.row{
  margin: 0;
}
.title b{
  font-size: 1.5rem;
}
.main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2, .col{
  padding: 0 1vh;
}
a{
  padding: 0 1vh;
}
.close{
  margin-left: auto;
  font-size: 0.7rem;
}
img{
  width: 3.5rem;
}
.back-to-shop{
  margin-top: 4.5rem;
}

hr{
  margin-top: 1.25rem;
}
form{
  padding: 2vh 0;
}

input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}



#code{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
///////////////////////////////////////////////////////////////////////////

// body{
//   height:98vh;
//   background-color: #4158D0;
// background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
//   font-family: 'Ubuntu', sans-serif;
//   background-position:center center;
// }
table ,.progress {
/*   border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

table caption {
    font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
  font-weight:700;
  color:#00000090;
  padding: 15px;
}

table tr {
  background-color: #ffffff90;
  border: 1px solid #ddd;
  padding: 10px;
}
.thead{
  background-color: rgb(67 56 202);
  color:#fff;
}

table th,
table td {
  padding: 20px;
  text-align: center;
}

table th {
  font-size: 20px;
  letter-spacing: .1em;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  .thead{
  background-color: rgb(67 56 202);
  color:#fff;
}

  table caption {
     font-size: 35px;
  font-weight:700;
  color:#00000090;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
