<!-- <app-header ></app-header> -->
<section >
  <div [ngClass]="'container' ">
   

    <div [ngClass]="'row'">
      <div [ngClass]="'col-lg-4'">
        <div [ngClass]="'card mb-4'">
          <div [ngClass]="'card-body text-center'">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              [ngClass]="'rounded-circle img-fluid'" style="width: 150px;">
            <!-- <h5 [ngClass]="'my-3">{{hisInfo.name}}</h5> -->
            <p [ngClass]="'text-muted mb-1'">Create Profile At :</p>
            <p [ngClass]="'text-muted mb-1'"> {{hisInfo.created_at}}</p>
            <!-- <p [ngClass]="'text-muted mb-4"></p> -->
          </div>
        </div>

      </div>
      <div [ngClass]="'col-lg-8'" *ngIf="!boolChangeData">
        <div [ngClass]="'card mb-4'">
          <div [ngClass]="'card-body'">
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Full Name</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">{{hisInfo.name}}</p>
              </div>
            </div>
            <hr>
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Email</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">{{hisInfo.email}}</p>
              </div>
            </div>
            <hr>

            <hr>
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Mobile</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">{{hisInfo.phone}}</p>
              </div>
            </div>
            <hr>
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Address</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div> 
                 <p [ngClass]="'btn'" (click)="changeData()">Edit</p>
        </div>

      </div>
      <div [ngClass]="'col-lg-8'" *ngIf="boolChangeData">
        <div [ngClass]="'card mb-4'">
          <div [ngClass]="'card-body'">
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Full Name</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <input [ngClass]="'text-muted mb-0'"  placeholder="" />
              </div>
            </div>
            <hr>
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Email</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">{{hisInfo.email}}</p>
              </div>
            </div>
            <hr>

            <hr>
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Mobile</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">{{hisInfo.phone}}</p>
              </div>
            </div>
            <hr>
            <div [ngClass]="'row'">
              <div [ngClass]="'col-sm-3'">
                <p [ngClass]="'mb-0'">Address</p>
              </div>
              <div [ngClass]="'col-sm-9'">
                <p [ngClass]="'text-muted mb-0'">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
          <p [ngClass]="'btn'" (click)="saveChangeData()">Save</p>

        </div>
      </div>
    </div>
  </div>
</section>
